$yellow: rgb(255, 180, 0);
$lightYellow: rgba(255, 180, 0, 0.95);

$mainBackground: rgb(229, 229, 229);
$grayBackground: rgb(228, 230, 235);
$lightGrayBackground: rgb(240, 240, 246);

$paragraphFont: rgb(118, 118, 118);
$black: rgb(43, 43, 43);

$white: rgb(255, 255, 255);
$dark: rgb(24, 25, 26);
$darkView1: rgb(36, 37, 38);
$darkView2: rgb(58, 59, 60);

$available: rgb(126, 185, 66);

// @if $isDarkMode {
//     $white: rgb(63, 63, 63);
//     $paragraphFont: rgb(255, 255, 255);
//     $black: rgb(128, 128, 128);
//     $lightGrayBackground: rgb(43, 43, 43);
// }


// Для работы с светлой и тёмной темой нужен другой подход:
// // base.module.scss
// :root {
//     --text-color: black;
//     --background-color: white;
//   }
  
//   container {
//     color: var(--text-color);
//     background-color: var(--background-color);
//   }
  
//   .dark-mode {
//     --text-color: white;
//     --background-color: black;
//   }

// JavaScript
// const button = document.querySelector('button'); // Найдите вашу кнопку
// const body = document.querySelector('body');

// button.addEventListener('click', () => {
//   body.classList.toggle('dark-theme');
// });